<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body data-ingnored-attr="LAYOUTMARKER">
        <header>
            <a href="{$ctrl->link('?action=home')}">
                <img alt="My Site" src="{$ctrl->img('site-logo')}"/>
            </a>
        </header>
        <div>
%TOO_BASIC_EMAIL_CONTENT%
        </div>
        <footer>
            <p>
                Read your license agreement before doing something
                wrong.
            </p>
        </footer>
    </body>
</html>