<!DOCTYPE html>
<html>
	<head>
		<title><%$name%></title>

		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />

		<link rel="icon" type="image/png" href="%STYLEFT%$ctrl->img('favicon','png')%STYRIGHT%"/>

%STYLEFT%$ctrl->htmlAllScripts(false,"\t\t")%STYRIGHT%

%STYLEFT%$ctrl->htmlAllStyles(false,"\t\t")%STYRIGHT%
	</head>
	<body class="<%if !$containerFluid %>container <%/if%>Action_%STYLEFT%$action%STYRIGHT%">
		<header>
%STYLEFT%$ctrl->insert('<%$name_nav%>')%STYRIGHT%
		</header>
		<div id="MainContents"<%if $containerFluid %> class="container-fluid"<%/if%>>
<!-- MAIN CONTENT @{ -->
%TOO_BASIC_ACTION_CONTENT%
<!-- @} /MAIN CONTENT -->
		</div>
		<footer>

		</footer>
	</body>
</html>