<?php

/**
 * @class <%$deleteActionController%>
 *
 * Accessible at '?action=<%$deleteAction%>'
 */
class <%$deleteActionController%> extends \TooBasic\Controller {
	//
	// Protected properties
	protected $_cached = false; # \TooBasic\CacheAdapter::ExpirationSizeLarge;
	//
	// Protected methods.
	protected function basicRun() {
		$ok = true;

		$factory = $this->representation-><%$pluralName%>;
		$item = $factory->item($this->params->get->id);
		if($item) {
			$this->assign('<%$singularName%>', $item->toArray());
		} else {
			$this->setError(HTTPERROR_BAD_REQUEST, "Unknown <%$singularName%> with id '{$this->params->get->id}'");
			$ok = false;
		}

		return $ok;
	}
	protected function init() {
		parent::init();

		$this->_requiredParams['GET'][] = 'id';
		$this->_requiredParams['POST'][] = 'id';
	}
	protected function runPOST() {
		$ok = true;

		$factory = $this->representation-><%$pluralName%>;
		$item = $factory->item($this->params->post->id);
		if($item) {
			if(!$item->remove()) {
				$this->setError(HTTPERROR_INTERNAL_SERVER_ERROR, "Unable to remove <%$singularName%> with id '{$this->params->post->id}'");
				$ok = false;
			}
		} else {
			$this->setError(HTTPERROR_BAD_REQUEST, "Unknown <%$singularName%> with id '{$this->params->post->id}'");
			$ok = false;
		}

		if($ok) {
			header('Location: '.\TooBasic\RoutesManager::Instance()->enroute(ROOTURI.'?action=<%$listAction%>'));
		}

		return $ok;
	}
}
