<h4>{$tr->title_new_item_on_table('tablename', '<%$pluralName%>')}</h4>

<form id="<%$singularName%>_form" method="post" href="#" role="form">
	<table>
<%foreach from=$tableFields item=field%><%if $field.inForm %>
<%if $field.type.type == 'varchar' || $field.type.type == 'int' || $field.type.type == 'float' %>
		<tr>
			<td>
				<label for="<%$singularName%>_form_<%$field.name%>">{$tr->table_column_<%$field.name%>}</label>
			</td><td>
				<input type="text" id="<%$singularName%>_form_<%$field.name%>" name="<%$field.name%>" value=""/>
			</td>
		</tr>
<%/if%>
<%if $field.type.type == 'text' %>
		<tr>
			<td>
				<label for="<%$singularName%>_form_<%$field.name%>">{$tr->table_column_<%$field.name%>}</label>
			</td><td>
				<textarea id="<%$singularName%>_form_<%$field.name%>" name="<%$field.name%>"></textarea>
			</td>
		</tr>
<%/if%>
<%if $field.type.type == 'enum' %>
		<tr>
			<td>
				<label for="<%$singularName%>_form_<%$field.name%>">{$tr->table_column_<%$field.name%>}</label>
			</td><td>
				<select id="<%$singularName%>_form_<%$field.name%>" name="<%$field.name%>">
					<option value="">{$tr->select_option_NOOPTION}</option>
<%foreach from=$field.type.values item=value%>
					<option value="<%$value%>">{$tr->select_option_<%$value%>}</option>
<%/foreach%>
				</select>
			</td>
		</tr>
<%/if%>
<%/if%><%/foreach%>
		<tr>
			<td colspan="2">
				<input type="submit" value="{$tr->btn_add}"/>
				<input type="reset" value="{$tr->btn_clear_fields}"/>
			</td>
		</tr>
	</table>
</form>
<br/>
<a href="{$ctrl->link('?action=<%$listAction%>')}">{$tr->btn_back_to_list}</a>