<?php

/**
 * @class <%$addActionController%>
 *
 * Accessible at '?action=<%$addAction%>'
 */
class <%$addActionController%> extends \TooBasic\Controller {
	//
	// Protected properties
	protected $_cached = false;
	//
	// Protected methods.
	protected function basicRun() {
		return true;
	}
	protected function init() {
		parent::init();

<%foreach from=$tableFields item=field%><%if $field.inForm %>
		$this->_requiredParams['POST'][] = '<%$field.name%>';
<%/if%><%/foreach%>
	}
	protected function runPOST() {
		$factory = $this->representation-><%$pluralName%>;
		$newId = $factory->create();
		if($newId) {
			$item = $factory->item($newId);

<%foreach from=$tableFields item=field%><%if $field.inForm %>
			$item-><%$field.name%> = $this->params->post-><%$field.name%>;
<%/if%><%/foreach%>

			$item->persist();
		} else {
			$message = 'Unable to create a new item.';
			$dberror = $factory->lastDBError();
			if($dberror) {
				$message.= " [{$dberror[0]}-{$dberror[1]}] {$dberror[2]}.";
			}
			$this->setError(HTTPERROR_INTERNAL_SERVER_ERROR, $message);
		}

		if($this->status()) {
			header('Location: '.\TooBasic\RoutesManager::Instance()->enroute(ROOTURI.'?action=<%$listAction%>'));
		}

		return $this->status();
	}
}
