<h4>%STYLEFT%$tr->title_delete_item_of_table('id', $<%$singularName%>.id, 'tablename', '<%$pluralName%>')%STYRIGHT%</h4>

<%if $formBuilder%>
%STYLEFT%$ctrl->formFor('table_<%$pluralName%>', $<%$singularName%>, 'remove', $formFlags)%STYRIGHT%
<%else%>
<form id="<%$singularName%>_form" name="<%$singularName%>_form" method="post" action="#" role="form" onsubmit="return confirm('%STYLEFT%$tr->message_remove_table_item_confirm('name','<%$singularName%>')%STYRIGHT%')" ng-non-bindable>
	<input type="hidden" id="id" name="id" value="%STYLEFT%$<%$singularName%>.id%STYRIGHT%"/>
	<table>
<%foreach from=$tableFields item=field%><%if $field.inForm %>
<%if $field.type.type == 'varchar' || $field.type.type == 'int' || $field.type.type == 'enum' || $field.type.type == 'float' %>
		<tr>
			<td>
				<label for="<%$singularName%>_form_<%$field.name%>">%STYLEFT%$tr->table_column_<%$field.name%>%STYRIGHT%</label>
			</td><td>
				<input type="text" id="<%$singularName%>_form_<%$field.name%>" name="<%$field.name%>" value="%STYLEFT%$<%$singularName%>.<%$field.name%>%STYRIGHT%" readonly="readonly"/>
			</td>
		</tr>
<%/if%>
<%if $field.type.type == 'text' %>
		<tr>
			<td>
				<label for="<%$singularName%>_form_<%$field.name%>">%STYLEFT%$tr->table_column_<%$field.name%>%STYRIGHT%</label>
			</td><td>
				<textarea id="<%$singularName%>_form_<%$field.name%>" name="<%$field.name%>" readonly="readonly">%STYLEFT%$<%$singularName%>.<%$field.name%>%STYRIGHT%</textarea>
			</td>
		</tr>
<%/if%>
<%/if%><%/foreach%>
		<tr>
			<td colspan="2">
				<input type="submit" value="%STYLEFT%$tr->btn_delete_TYPE('type','<%$singularName%>')%STYRIGHT%"/>
			</td>
		</tr>
	</table>
</form>
<%/if%>
<br/>
<a href="%STYLEFT%$ctrl->link('?action=<%$listAction%>')%STYRIGHT%">%STYLEFT%$tr->btn_back_to_list%STYRIGHT%</a>