<?php

/**
 * @class <%$editActionController%>
 *
 * Accessible at '?action=<%$editAction%>'
 */
class <%$editActionController%> extends \TooBasic\Controller {
	//
	// Protected properties
	protected $_cached = false; # \TooBasic\Adapters\Cache\Adapter::ExpirationSizeLarge;
	//
	// Protected methods.
	protected function basicRun() {
		$factory = $this->representation-><%$pluralName%>;
		$item = $factory->item($this->params->get->id);
		if($item) {
			$this->assign('<%$singularName%>', $item->toArray());
		} else {
			$this->setError(HTTPERROR_BAD_REQUEST, "Unknown <%$singularName%> with id '{$this->params->get->id}'");
		}

<%if $formBuilder%>
		$this->assign('formFlags', array(
<%if $templatesStyle == 'bootstrap'%>
			GC_FORMS_BUILDFLAG_SPACER => "\t\t"
<%else%>
			GC_FORMS_BUILDFLAG_SPACER => ""
<%/if%>
		));

<%/if%>
		return $this->status();
	}
	protected function init() {
		parent::init();

		$this->_requiredParams['GET'][] = 'id';
		$this->_requiredParams['POST'][] = 'id';
<%foreach from=$tableFields item=field%><%if $field.inForm %>
		$this->_requiredParams['POST'][] = '<%$field.name%>';
<%/if%><%/foreach%>
	}
	protected function runPOST() {
		$factory = $this->representation-><%$pluralName%>;
		$item = $factory->item($this->params->get->id);
		if($item) {
<%foreach from=$tableFields item=field%><%if $field.inForm %>
			$item-><%$field.name%> = $this->params->post-><%$field.name%>;
<%/if%><%/foreach%>

			$item->persist();
		} else {
			$this->setError(HTTPERROR_BAD_REQUEST, "Unknown <%$singularName%> with id '{$this->params->get->id}'");
		}

		if($this->status()) {
			header('Location: '.\TooBasic\Managers\RoutesManager::Instance()->enroute(ROOTURI.'?action=<%$listAction%>'));
		}

		return $this->status();
	}
}
