<h4>%STYLEFT%$tr->title_table_items('tablename', '<%$pluralName%>')%STYRIGHT%</h4>

<table>
	<thead>
		<tr>
			<th>%STYLEFT%$tr->label_id%STYRIGHT%</th>
<%foreach from=$tableFields item=field%>
			<th>%STYLEFT%$tr->table_column_<%$field.name%>%STYRIGHT%</th>
<%/foreach%>
			<th>%STYLEFT%$tr->label_actions%STYRIGHT%</th>
		</tr>
	</thead>
	<tbody>
%STYLEFT%foreach from=$items item=item%STYRIGHT%
		<tr>
			<td>%STYLEFT%$item.id%STYRIGHT%</td>
<%foreach from=$tableFields item=field%>
			<td>%STYLEFT%$item.<%$field.name%>%STYRIGHT%</td>
<%/foreach%>
			<td>
				<a href="%STYLEFT%$ctrl->link("?action=<%$viewAction%>&id=`$item.id`")%STYRIGHT%">%STYLEFT%$tr->btn_view%STYRIGHT%</a>
				<a href="%STYLEFT%$ctrl->link("?action=<%$editAction%>&id=`$item.id`")%STYRIGHT%">%STYLEFT%$tr->btn_edit%STYRIGHT%</a>
				<a href="%STYLEFT%$ctrl->link("?action=<%$deleteAction%>&id=`$item.id`")%STYRIGHT%">%STYLEFT%$tr->btn_remove%STYRIGHT%</a>
			</td>
		</tr>
%STYLEFT%/foreach%STYRIGHT%
	</tbody>
</table>
	
<br/>
<a href="%STYLEFT%$ctrl->link('?action=<%$addAction%>')%STYRIGHT%">%STYLEFT%$tr->btn_add_new_item%STYRIGHT%</a>