<?php

class <%$representationName%> extends <%if $isSearchable%>\TooBasic\Search\SearchableItemRepresentation<%else%>\TooBasic\Representations\ItemRepresentation<%/if%> {
	//
	// Protected core properties.
	protected $_CP_ColumnsPerfix = '<%$tablePrefix%>';
<%if !$isSearchable%>
	protected $_CP_ColumnFilters = array(
		'indexed' => GC_DATABASE_FIELD_FILTER_BOOLEAN
	);
<%/if%>
	protected $_CP_IDColumn = 'id';
<%if isset($nameField)%>
	protected $_CP_NameColumn = '<%$nameField%>';
<%/if%>
	protected $_CP_Table = '<%$pluralName%>';
<%if $isSearchable%>
	public function type() {
		return '<%$searchCode%>';
	}
	public function viewLink() {
		return \TooBasic\Managers\RoutesManager::Instance()->enroute(ROOTURI."?action=<%$singularName%>&id={$this->id()}");
	}
<%/if%>
}
