<?php

/**
 * @class <%$viewActionController%>
 *
 * Accessible at '?action=<%$viewAction%>'
 */
class <%$viewActionController%> extends \TooBasic\Controller {
	//
	// Protected properties
	protected $_cached = false; # \TooBasic\Adapters\Cache\Adapter::ExpirationSizeLarge;
	//
	// Protected methods.
	protected function basicRun() {
		$factory = $this->representation-><%$pluralName%>;
		$item = $factory->item($this->params->get->id);
		if($item) {
			$this->assign('<%$singularName%>', $item->toArray());
		} else {
			$this->setError(HTTPERROR_BAD_REQUEST, "Unknown <%$singularName%> with id '{$this->params->get->id}'");
		}

<%if $formBuilder%>
		$this->assign('formFlags', [
<%if $templatesStyle == 'bootstrap'%>
			GC_FORMS_BUILDFLAG_SPACER => "\t\t"
<%else%>
			GC_FORMS_BUILDFLAG_SPACER => ""
<%/if%>
		]);

<%/if%>
		return $this->status();
	}
	protected function init() {
		parent::init();
		$this->_requiredParams['GET'][] = 'id';
	}
}
