<h4>{$tr->title_view_item_of_table('id', $<%$singularName%>.id, 'tablename', '<%$pluralName%>')}</h4>

<%if $formBuilder%>
{$ctrl->formFor('table_<%$pluralName%>', $<%$singularName%>, 'view', $formFlags)}
<%else%>
<form id="<%$singularName%>_form" method="get" href="#" role="form" onsubmit="return false;" ng-non-bindable>
	<input type="hidden" id="id" name="id" value="{$<%$singularName%>.id}"/>
	<table>
<%foreach from=$tableFields item=field%><%if $field.inForm %>
<%if $field.type.type == 'varchar' || $field.type.type == 'int' || $field.type.type == 'enum' || $field.type.type == 'float' %>
		<tr>
			<td>
				<label for="<%$singularName%>_form_<%$field.name%>">{$tr->table_column_<%$field.name%>}</label>
			</td><td>
				<input type="text" id="<%$singularName%>_form_<%$field.name%>" name="<%$field.name%>" value="{$<%$singularName%>.<%$field.name%>}" readonly="readonly"/>
			</td>
		</tr>
<%/if%>
<%if $field.type.type == 'text' %>
		<tr>
			<td>
				<label for="<%$singularName%>_form_<%$field.name%>">{$tr->table_column_<%$field.name%>}</label>
			</td><td>
				<textarea id="<%$singularName%>_form_<%$field.name%>" name="<%$field.name%>" readonly="readonly">{$<%$singularName%>.<%$field.name%>}</textarea>
			</td>
		</tr>
<%/if%>
<%/if%><%/foreach%>
	</table>
</form>
<%/if%>
<br/>
<a href="{$ctrl->link('?action=<%$listAction%>')}">{$tr->btn_back_to_list}</a>