/gitcomments.txt
/to_doc.txt
/cache/filecache/*.data
/cache/smarty/*
/cache/langs/*
/libraries/*/*
/tools.sh
/nbproject
/modules/tests
/site/*
/modules/toobasic-tagger
/modules/toobasic-um
/modules/toobasic-zfieldfilters
