/gitcomments.txt
/to_doc.txt
/cache/filecache/*.data
/cache/smarty/*
/cache/langs/*
/cache/system/*
/libraries/*/*
/libraries/composer.*
/tools.sh
/nbproject
/modules/tests
/site/*
/modules/toobasic-tagger
/modules/toobasic-um
/modules/toobasic-zfieldfilters
/modules/toobasic-logger
/modules/toobasic-redis
/modules/toobasic-workflows
/modules/toobasic-jsinject
/composer.*
/vendor/
/travis.files-status.*
/travis.directories-status.*
/cache/newcase_lastgen.txt
