[submodule "libraries/smarty.git"]
	path = libraries/smarty.git
	url = https://github.com/smarty-php/smarty.git
[submodule "libraries/json-validator.git"]
	path = libraries/json-validator.git
	url = https://github.com/daemonraco/json-validator.git
