<FilesMatch "(config/.*\.(json|php)|.*\.md)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?route=$1 [QSA,L]
RewriteRule ^index.php/(.+)$ index.php?route=$1 [QSA,L]
