language: php
#
# Required test environments.
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - nightly
env:
  - TRAVISCI_PHPUNIT_CONF=''
  - TRAVISCI_PHPUNIT_CONF='-7.0'
matrix:
  exclude:
    - php: '7.0'
      env: TRAVISCI_PHPUNIT_CONF=''
    - php: nightly
      env: TRAVISCI_PHPUNIT_CONF=''
    - php: '5.4'
      env: TRAVISCI_PHPUNIT_CONF='-7.0'
    - php: '5.5'
      env: TRAVISCI_PHPUNIT_CONF='-7.0'
    - php: '5.6'
      env: TRAVISCI_PHPUNIT_CONF='-7.0'
  allow_failures:
    - php: nightly
#
# Required services.
services:
  - memcached
  - mysql
  - postgresql
#
# Specific addons.
addons:
  mariadb: '10.1'
  postgresql: '9.3'
#
# Notifications.
notifications:
  irc: "irc.freenode.org#TooBasic"
#
# Pre-installation steps.
before_install:
  - composer require phpunit/phpunit
#
# Execution flow.
before_script:
  #
  # Basic configurations.
  - "sh -e ./tests/assets/travis.directorypermissions.sh"
  #
  # Fake sendmail configurations.
  - sudo mkdir -pm 0777 /tmp/fake-mailbox
  - sudo chmod 0777 ./tests/assets/travis.fakesendmail.sh
  #
  # Configuring PHP.
  - cp ./tests/assets/travis.php${TRAVISCI_PHPUNIT_CONF}.ini ./tests/assets/toobasic.ini
  - sed -i "s:%TRAVISCI_HOME%:${PWD}:g" ./tests/assets/toobasic.ini
  - phpenv config-add ./tests/assets/toobasic.ini
  #
  # Installing Composer.
  - "mkdir -p ~/.composer"
  - cp ./tests/assets/travis.composer.config.json ~/.composer/config.json
  - sed -i "s:%GITHUB_ACCESS_TOKEN%:${GITHUB_ACCESS_TOKEN}:g" ~/.composer/config.json
  - composer require phpunit/phpunit-selenium
#  - composer require phpunit/phpunit-selenium:2.0.2
  #
  # Installing and configuring Apache 2.
  - sudo apt-get update > /dev/null
  - sudo apt-get install apache2
  - sudo a2enmod actions
  - sudo a2enmod rewrite
  - echo "export PATH=/home/vagrant/.phpenv/bin:$PATH" | sudo tee -a /etc/apache2/envvars > /dev/null
  - sudo cp ./tests/assets/travis.apache2-phpconfig.txt /etc/apache2/conf.d/phpconfig
  - cat ./tests/assets/travis.apache2-default.txt | sed -e "s,PATH,`pwd`,g" | sudo tee /etc/apache2/sites-available/default > /dev/null
  - sudo service apache2 restart
  #
  # Starting X server.
  - "sh -e /etc/init.d/xvfb start"
  - "export DISPLAY=:99.0"
  #
  # Installing and starting Selenium 2 server.
  - "wget http://selenium-release.storage.googleapis.com/${TRAVISCI_SELENIUM_VERSION}/selenium-server-standalone-${TRAVISCI_SELENIUM_FULLVERSION}.jar"
  - "java -jar selenium-server-standalone-${TRAVISCI_SELENIUM_FULLVERSION}.jar >/dev/null 2>&1 &"
  - sleep 5
  #
  # Getting a snapshot of current assets.
  - chmod +x ./tests/assets/travis.save-files-status.sh
  - ./tests/assets/travis.save-files-status.sh before

script:
  - ./vendor/phpunit/phpunit/phpunit --configuration phpunit${TRAVISCI_PHPUNIT_CONF}.xml
after_script:
  #
  # Getting a snapshot of current assets and comparing it against the previous
  # snapshot.
  - ./tests/assets/travis.save-files-status.sh after
  - ./tests/assets/travis.save-files-status.sh compare
