<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
	 colors="true"
	 convertErrorsToExceptions="true"
	 convertNoticesToExceptions="true"
	 convertWarningsToExceptions="true"
	 stopOnFailures="false"
	 syntaxCheck="false">
	<testsuites>
		<testsuite name="TooBasic Unit Tests">
			<directory suffix=".php">./tests</directory>
			<exclude>./tests/bootstrap.php</exclude>
			<exclude>./tests/TooBasic_TestCase.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>