<!DOCTYPE html>
<html>
	<head>
		<title><%$name%></title>

		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />

		<link rel="icon" type="image/png" href="%STYLEFT%$ctrl->img('favicon','png')%STYRIGHT%"/>

%STYLEFT%$ctrl->htmlAllScripts(false,"\t\t")%STYRIGHT%

%STYLEFT%$ctrl->htmlAllStyles(false,"\t\t")%STYRIGHT%
	</head>
	<body class="Action_%STYLEFT%$action%STYRIGHT%">
		<div id="MainContents">
<!-- MAIN CONTENT @{ -->
%TOO_BASIC_ACTION_CONTENT%
<!-- @} /MAIN CONTENT -->
		</div>
	</body>
</html>