div.SkinSelector {
	margin-left: 10px;
}
div.GitFork a img {
	border: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}
ul.Sponsors {
	text-align: left;
}
ul.Sponsors li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}