h1, h2 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}
p {
	margin: 0px;
	padding: 0px;
}
ul {
	margin-bottom: 0px;
	margin-top: 0px;
}
div.MainSection {
	border-top: solid lightgray 1px;
	border-left: solid lightgray 10px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
div.MainSection h3 {
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
}
div.SubSection {
	border-bottom: solid brown 1px;
	border-left: solid brown 10px;
	border-right: solid brown 10px;
	border-top: solid brown 1px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 95%;
}
div.SubSection h4 {
	border-bottom: solid brown 1px;
	margin: 0px;
	padding: 2px;
}
div.SubSection li {
}
div.SubSection li p {
	border-left: dashed darkgreen 1px;
	border-bottom: dashed darkgreen 1px;
	margin-left: 10px;
	padding-left: 5px;
}
div.SubSection li span.Tag {
	background-color: brown;
	border: solid white	1px;
	border-radius: 5px;
	color: white;
	font-family: monospace;
	font-weight: normal;
	padding-left: 5px;
	padding-right: 5px;
}
