<!DOCTYPE html>
<html>
	<head>
		<title>TooBasic-{$toobasic_version}: {$title}</title>
		<link rel="shortcut icon" type="image/png" href="{$ctrl->img('TooBasic-icon-24px')}"/>

		<!-- jQuery -->
		<script type="text/javascript" src="{$ctrl->lib('jquery/jquery-2.1.3.min.js')}"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{$ctrl->lib('bootstrap/css/bootstrap.min.css')}"/>
		<link rel="stylesheet" type="text/css" href="{$ctrl->lib('bootstrap/css/bootstrap-theme.min.css')}"/>
		<script type="text/javascript" src="{$ctrl->lib('bootstrap/js/bootstrap.min.js')}"></script>
	</head>
	<body class="container">
		<div class="jumbotron">
			<div class="row text-center">
				<img src="{$ctrl->img('TooBasic-logo-128px')}"/>
			</div>
			<div class="row text-center">
				<h1>{$title}</h1>
{if $currenterror}
				<h4>{$tr->message}:</h4>
				<p>{$currenterror.message}</p>
{/if}

{if $errormessage}
				<h4>{$tr->message}:</h4>
				<p>{$errormessage}</p>
{/if}
			</div>
		</div>
	</body>
</html>
